<h1>Detalhes do Carro</h1>
{{> carro }}

<a href="https://go.olx.com.br/grande-goiania-e-anapolis/autos-e-pecas/carros-vans-e-utilitarios/corolla-2012-automatico-completo-parcelo-na-promissoria-1349121043?lis=listing_no_category">Anúncio</a>